// Image
image-background = 'images/checker.png'
// image-background = 'https://cdn.pixabay.com/photo/2017/09/04/18/38/vintage-2714966_960_720.jpg'

// Color
color-background = #6C7989
color-font = #555
color-link = #069
color-strong = #222

// Font
@font-face {
  font-family 'KS-R'
  font-style normal
  font-weight normal
  src url(fonts/KaushanScript-Regular.otf)
}

font-default = "Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
blog-title-font = "KS-R", "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif
font-title = "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif

@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic,400,700")

font-icon = FontAwesome
font-icon-path = 'fonts/fontawesome-webfont'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}
// Width
page-width = 680px