// .tag-cloud {
//   position: relative;  
// }
// 设置每个标签的样式
.tag-cloud a {
  color: #555;
  // font-size: 20px !important;
  padding-right: 10px;
  transition:font-size 1s;
  -moz-transition:font-size 1s; /* Firefox 4 */
  -webkit-transition:font-size 1s; /* Safari and Chrome */
  -o-transition:font-size 1s; /* Opera */
}

.tag-cloud a:hover {
  color: #069;
  font-size: 30px !important;
}